### IntelliJ
.idea
*.iml

# Environment files
.env

### Composer
src/composer.phar
src/composer.lock
src/vendor/

### Node
node_modules
src/node_modules

### Database
db/*

### Docker
ntunnel-*.php
/.docker/images/nginx/ssl/*.pem

### Wordpress
/src/index.php
/src/.htaccess
/src/wp-config.php
src/wp
src/wp-content/themes/*

# exceptions
!src/wp-content/themes/decimus
!src/wp-content/themes/decimus-child

src/wp-content/plugins/*

src/wp-content/backups-dup-lite/*
src/wp-content/cache/*
src/wp-content/languages/*
src/wp-content/upgrade/*
src/wp-content/uploads/*

# wordfence logs
src/wp-content/wflogs/*

# woocommerce logs
src/wp-content/uploads/wc-logs/
