footer {
    .decimus-footer {
        padding: 2rem 1rem 1.75rem;
    }

    ul#footer-menu {
        font-size: $medium-size !important;
        display: flex;
        justify-content: center;

        .nav-item {
            margin-right: 0;
        }
    }

    .footer-menu-list ul li {
        margin-bottom: 0.75rem;
    }

    .footer-center-menu {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    div.footer-nav ul.navbar-nav .nav-link {
        text-decoration: none;
        font-size: $small-size;
    }

    div.footer-nav ul.navbar-nav .nav-link:hover,
    div.footer-nav ul.navbar-nav .nav-link:focus,
    ul.navbar-nav .nav-link:focus,
    ul.navbar-nav .nav-link:active {
        text-decoration: underline;
    }

    div.footer-nav ul.navbar-nav li.menu-item:last-of-type {
        margin-right: 0;
    }

    .embed-responsive {
        iframe {
            filter: invert(90%);
        }
    }

    .map-size {
        width: 100%;
        min-height: 400px;
    }

    .map-dark-mode {
        filter: invert(90%) !important;
        -webkit-filter: invert(90%) !important;
        -ms-filter: invert(90%) !important;
    }

    .footer-social {
        height: 45px;
        margin-top: 0;
    }

}
