.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
    .product-subtotal {
        display: none;
    }
}

form.cart button[type='submit']:not(#qib_id):not(#qib_id):not(_):not(_) {
    line-height: 0;
}

input[name="coupon_code"] {
    max-width: 240px;
    margin-right: 10px;
}

button[name="apply_coupon"] {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

@media (min-width: 768px) {
    .woocommerce table.cart td.product-quantity .qib-container:not(#qib_id):not(#qib_id) {
        display: flex;
        justify-content: flex-start !important;
    }
}

