/* WC BLOCKS */
.wc-block-grid__products {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0;
    background-clip: padding-box;
    width: 90vw;
    margin: 30px auto 0;
    grid-gap: 20px;

    .wc-block-grid__product-title {
        padding: 0 12px;
    }
}

.wc-block-grid.has-4-columns .wc-block-grid__product {
    flex: none;
    max-width: unset;
    margin-bottom: 30px;
}

.wc-block-featured-product {
    box-shadow: inset 1px 1px rgba(255, 255, 255, .2), inset -1px -1px rgba(255, 255, 255, .1), 1px 3px 24px -1px rgba(0, 0, 0, .15);
    border-radius: .5rem;
}

.wc-block-featured-product.has-background-dim::before {
    border-radius: .5rem;
}

/* Woocommerce items grid */
ul.products li.product {
    margin-bottom: 3rem !important;
}

div.wc-block-grid__product-title {
    font-size: 16px !important;
}

@media (min-width: 481px) and (max-width: 600px) {
    .wc-block-grid.has-4-columns .wc-block-grid__product:nth-child(2n) {
        padding-left: 0;
    }
}

@media (min-width: 481px) and (max-width: 600px) {
    .wc-block-grid.has-4-columns .wc-block-grid__product:nth-child(odd) {
        padding-right: 0;
    }
}


/* PRODUCT CONTENT */
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    width: 43%;
    margin-left: 16px;

    @media (max-width: 768px) {
        width: 60%;
        max-width: 60%;
    }

    @media (max-width: 692px) {
        width: 94%;
        max-width: 94%;
    }
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    width: 54%;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (max-width: 768px) {
        width: 100%;
        max-width: 100%;
    }
}


/* TAB PANELS */
// Overwrite nav tabs at single product page
.woocommerce-tabs ul.tabs li a {
    padding: 0 0.75rem !important;
    display: block;
}

.woocommerce-tabs.wc-tabs-wrapper {
    @media (min-width: 769px) {
        margin-left: 45.5%;
        max-width: 54.5%;
    }
}


/* OTHER */
figure.woocommerce-product-gallery__wrapper img {
    margin-top: 0;
}

.woocommerce-variation-price span.woocommerce-Price-amount.amount,
.woocommerce div.product p.price .woocommerce-Price-amount.amount {
    font-size: 24px;
}

.woocommerce div.product .product_title {
    margin-top: 0;
    font-size: 34px;
}

.variations {
    select.form-select {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23555' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    }
}

.archive.tax-product_cat.woocommerce-page,
.archive.post-type-archive.post-type-archive-product.woocommerce-shop {
    .card {
        .card-body {
            padding: 1rem;
        }

        .card-footer {
            padding: 0;
        }
    }
}



