#share-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 4px;
	row-gap: 20px;
}

#share-buttons .btn {
	width: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#share-buttons .btn-twitter {
	color: #fff;
	background-color: #1da1f2;
	border-color: #1da1f2;
}

#share-buttons .btn-twitter:hover {
	color: #fff;
	background-color: #0d95e8;
	border-color: #0d95e8;
}

#share-buttons .btn-facebook {
	color: #fff;
	background-color: #3b5998;
	border-color: #3b5998;
}

#share-buttons .btn-facebook:hover {
	color: #fff;
	background-color: #344e86;
	border-color: #344e86;
}

#share-buttons .btn-whatsapp {
	color: #fff;
	background-color: #13bb17;
	border-color: #13bb17;
}

#share-buttons .btn-whatsapp:hover {
	color: #fff;
	background-color: #11a414;
	border-color: #11a414;
}

#share-buttons .btn-linkedin {
	color: #fff;
	background-color: #0073b1;
	border-color: #0073b1;
}

#share-buttons .btn-linkedin:hover {
	color: #fff;
	background-color: #006298;
	border-color: #006298;
}

#share-buttons .btn-pinterest {
	color: #fff;
	background-color: #e60023;
	border-color: #e60023;
}

#share-buttons .btn-pinterest:hover {
	color: #fff;
	background-color: #cd001f;
	border-color: #cd001f;
}

#share-buttons .btn-reddit {
	color: #fff;
	background-color: #ff4501;
	border-color: #ff4501;
}

#share-buttons .btn-reddit:hover {
	color: #fff;
	background-color: #e73e00;
	border-color: #e73e00;
}

#share-buttons .btn-tumblr {
	color: #fff;
	background-color: #34465c;
	border-color: #34465c;
}

#share-buttons .btn-tumblr:hover {
	color: #fff;
	background-color: #2b3a4c;
	border-color: #2b3a4c;
}

#share-buttons .btn-buffer {
	color: #fff;
	background-color: #2c4bff;
	border-color: #2c4bff;
}

#share-buttons .btn-buffer:hover {
	color: #fff;
	background-color: #1335ff;
	border-color: #1335ff;
}

#share-buttons .btn-mix {
	color: #fff;
	background-color: #f3782b;
	border-color: #f3782b;
}

#share-buttons .btn-mix:hover {
	color: #fff;
	background-color: #f26913;
	border-color: #f26913;
}

#share-buttons .btn-vk {
	color: #fff;
	background-color: #5282b9;
	border-color: #5282b9;
}

#share-buttons .btn-vk:hover {
	color: #fff;
	background-color: #4675ac;
	border-color: #4675ac;
}

.btn-twitter,
.btn-pinterest,
.btn-linkedin,
.btn-reddit,
.btn-tumblr,
.btn-buffer,
.btn-mix,
.btn-vk,
.btn-print {
	display: none !important;
}
