### IntelliJ
.idea
*.iml

### Do not put live credentials into this .env file, or uncomment it
### .env

### Composer
composer.phar
composer.lock
vendor/

### Node
node_modules
web/node_modules

### Docker
ntunnel-*.php

### No db dump files
DB/*
!DB/wp-config.php

web/wp-config.php
web/*
!web/wp-content

### Themes
web/wp-content/themes/*
!web/wp-content/themes/YOUR-CHILD-THEME-HERE

### Plugins
web/wp-content/plugins/*
!web/wp-content/themes/YOUR-PLUGINS-HERE

web/wp-content/backups-dup-lite/*
web/wp-content/cache/*
web/wp-content/languages/*
web/wp-content/upgrade/*

### Wordfence logs
web/wp-content/wflogs/*
